.tabs {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tab {
  display: inline-flex;
  padding: 5px 15px;
  align-items: center;
  min-height: 40px;
  transition: all 0.3s;
}

.tabActive {
  background: #fff;
}

.tabButton {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  max-width: 150px;
}

.tabButtonClose {
  margin-left: 20px;
}

.emptyEditor {
}

.monacoBox {
  background: #fff;
  padding-top: 10px;
}
