.white {
  color: #fff;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
