.addButton {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.collapseBox {
  :global .ant-collapse-content-box {
    padding: 0 !important;
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px 5px 20px;
  transition: all 0.3s;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.itemSelected {
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  width: 100%;
}

.itemNew {
  background: rgba(0, 0, 0, 0.05);
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.itemSelectButton {
  width: 100%;
  background: none;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: left;
  cursor: pointer;
  height: 25px;
}

.itemSelectButtonChanged {
  color: red;
}

.itemSelectButtonNew {
  color: green;
}

.itemDelButton {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
