.fullPageTabs :global {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .ant-tabs-nav-list {
    flex: 0 0 auto;
  }

  .ant-tabs-content,
  .ant-tabs-content-holder {
    width: 100%;
    height: 100%;
  }

  .ant-tabs-content {
    overflow: auto;
    background: #fff;
    padding: 10px;
  }
}
