
<div class="card-page card-page--h-auto">
    <h3 class="title">Identity</h3>
    <p>You are successfully logged in to the HelpLine system</p>
     <div class="d--flex justify-content--flex-end m-t-lg">
        <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a>
    </div>
</div>
